recursive-include bard/web-root *
recursive-include bard/templates *
recursive-include bard/musicbrainz_importer *
recursive-include bard/db *
recursive-include bard/alembic *
include bard/config.example
recursive-exclude scripts bard
