
.albumView {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fafafa;
}

.albumContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 2em;
}

/*
#albumTracks {
  min-height: -webkit-min-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
*/

div.medium {
  width:100%;
  margin-top: 1em;
}

.medium table {
  width:100%;
  border: 1px solid black;
  background-color: #fff;
}
.medium td,.medium th {
  padding: 1em 0.5em;
}

.medium tr {
   border-bottom: 1px solid #bbb;
}

img.medium-cover {
   width: 200px;
}

.album-info {
    display: flex;
}
.album-main-metadata {
    padding: 2em;
}

#album-cover {
    width: 200px;
}

#album-title {
    font-size: 130%;
    font-weight: bold;
}

.album-disambiguation {
    font-size: 80%;
    font-style: italic;
    color: #666;
}

#album-artist {
    font-size: 110%;
}

#album-status {
    color: #777;
    margin-top: 0.4em;
}
