
.artistView {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fafafa;
}

.artistContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 2em;
}

#artistReleaseGroupsList {
  list-style-type:none;
  min-height: -webkit-min-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
#artistReleaseGroupsList li {
  width: 10em;
  text-align: center;
  margin:0 1em;
}

#artist-picture {
    width: 200px;
}

.artist-info {
    display: flex;
}

.rg-section {
    margin: 4em 0em 2em;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid black;

}

table.releaselist {
  width:100%;
  border: 1px solid black;
  background-color: #fff;
  margin-left: 2em;
}

.releaselist td,.releaselist th {
  padding: 1em 0.5em;
}

.releaselist td.no-padding {
  padding: 0 0.5em 0 0;
}

.releaselist .releasename {
  padding: 1em 0.5em;
}
.releaselist tr {
   border-bottom: 1px solid #bbb;
}
