
.playlistView {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fafafa;
}

.playlistContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 2em;
}

#playlistTracks {
}

#playlistTracks li {
  width: 10em;
/*  height: 12em;*/
  text-align: center;
  margin:0 1em;
}
#playlistTracks img {
  width: 10em;
  height: 10em;
}

table.playlist {
  width:100%;
  border: 1px solid black;
  background-color: #fff;
}
.playlist td,.playlist th {
  padding: 1em 0.5em;
}

.playlist tr {
   border-bottom: 1px solid #bbb;
}
