a.playlist{
  display: inline-block;
}
ul#playlistList {
  list-style: none;
  text-align: left;
  padding-left: 1em;
}

#playlistList li {
  padding-top: 0.2em;
}

@-webkit-keyframes shake-rotate {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(20deg); }
  75%  { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

.shine {
  animation: shake-rotate 0.3s;
  transition-timing-function: ease;
  animation-iteration-count: 1;
}

