html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.Bard {
    font-family: 'Montserrat', Fallback, sans-serif;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  filter: invert(100%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  background-color: #222;
  max-height: 4em;
  color: white;
  background: black;
  order: 1;
}

.header > nav {
    display: flex;
    flex-grow: 1;
}

.header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.header li {
   padding: 0 2em 0 2em;
}

.header a,
.header a:visited
{
    text-decoration: none;
    color: white;
    outline: none;
}
.container > div {
    width: 100%;
}

.current-song-view {
    max-height: 100px;
    height: 100px;
    flex-shrink: 0;
    order: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-song-view audio {
    flex-grow: 1;
    min-width: 50%;
}
.current-song-view audio:focus {
    outline: none;
}

.centralView {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    min-height: 0;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.right {
    flex-grow: 1;
    text-align: right;
}

#current-song-info {
    display: flex;
    flex-direction: row;
    left: 0px;
    align-items: center;
    flex-grow: 1;
}

.current-song-cover-parent {
    width: 100px;
    height: 100px;
    max-width: 100px;
    min-width: 100px;
}

#current-song-cover {
    display: block;
    width: 100%;
    height: auto;
}

.current-song-main-metadata {
}

#progress-bar-container {
    width: 100%;
    height: 9px;
    background-color: #f3f9ff;
    order: 3;
    border-top: 1px solid #bbb;
}

#progress-bar {
    width: 0%;
    height: 8px;
    //background-color: #b3d9fa;
    background-color: #337ab7;
}

#progress-dot {
    height: 16px;
    width: 16px;
    background-color: #337ab7;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -12px;
    margin-left: -10px;
    left: 0%;
}

#media-controls {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#media-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    padding-right: 1em;
}

#current-time-container {
}

button.playerControl {
   border: none;
   background-color: transparent;
   height: 32px;
   width: 32px;
   padding: 0 1em;
   background-repeat:no-repeat;
}

#prevSongButton {
   background-image:url('/static/images/media-skip-backward.png');
}
#playPauseSongButton {
   background-image:url('/static/images/media-playback-start.png');
}
#nextSongButton {
   background-image:url('/static/images/media-skip-forward.png');
}


#centralBand {
    display: flex;
    flex: 1;
    flex-direction: row;
    order: 2;
    min-height: 0;  /* Inherited from centralView */
}

#playlistsPanel {
    display: flex;
    flex-direction: column;
    width: 10em;
    overflow-x: hidden;
    position: relative;
}

tr.unavailableSong {
    background-color: #ddd;
}

.slidercontainer {
  width: 100%;
}

.slider {
  width: 100%;
  height: 25px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

#volumecontainer {
  width: 150px;
}
button:focus {
  outline: none;
}

.ratings {
  display: flex;
}

.avg-ratings {
  opacity: 0.4;
}

.no-ratings {
  opacity: 0.3;
}

.ratings img {
    width: 16px;
    height: 16px;
}

.medium-header {
    display: flex;
    align-items: center;
}

.medium-signature {
    flex-grow: 1;
}

.flag {
    width: 20px;
    margin-right: 0.7em;
    vertical-align: baseline;
}

.media-format {
    white-space: nowrap;
}

.release-event {
    white-space: nowrap;
}

.horizontal {
  display: flex;
  flex-flow: horizontal;
  align-items: center;
  white-space: nowrap;
}

.vertical {
  display: flex;
  flex-flow: column;
}

img.cover-in-list {
  width: 10em;
  height: 10em;
}

.audio-format {
    font-weight: 900;
}

.audio-properties {
    display: flex;
    align-items: center;
}
.audio-property-logo {
   height: 2.2em;
}


label {
   font-weight: normal;
}
