<div class="albumView" id="albumView">
   <div class="albumContent" id="albumContent">
      <div class="album-info">
         <div class="album-cover-parent">
             <img id="album-cover" src="">
         </div>
         <div class="album-main-metadata">
             <div id="album-title"></div>
             <div id="album-artist"></div>
             <div id="album-status"></div>
             <div id="album-release-events"></div>
         </div>
      </div>
      <div id="albumTracks">
      </div>
  </div>

  <script type="text/javascript" src="/static/js/album.js"></script>
  <script type="text/javascript">
      fillAlbumPage({{_id}});
  </script>
  <link href="/static/css/album.css" rel="stylesheet">
</div>
