<div class="artistView" id="artistView">
  <div class="artistContent" id="artistContent">
      <div class="artist-info">
         <div class="artist-picture-parent">
             <img id="artist-picture" src="">
         </div>
         <div class="artist-main-metadata">
             <div id="artistName"></div>
             <div id="artistAliases"></div>
             <div id="artistMemberRelations"></div>
         </div>
      </div>

      <div id="artistBestSongsList">
      </div>
      <div id="artistReleaseGroupsList">
      </div>
      <div id="artistNonReleaseTracksList">
      </div>
  </div>

  <script type="text/javascript" src="/static/js/artist.js"></script>
  <script type="text/javascript">
      fillArtistPage({{_id}});

  </script>
  <link href="/static/css/artist.css" rel="stylesheet">
</div>
