<div class="searchView">
  <div class="searchForm">
    <form id="searchForm">
        <input id="searchBar" placeholder="Search for..." />
        <input id="searchButton" type="button" value="&#128269;" onClick="performSearch()"/>
        <!--<Suggestions results={this.state.results} />-->
    </form>
  </div>
  <div id="searchResultContainer" class="searchContent playlistContent">
      <div id="searchResult" class="playlistTracks"></div>
  </div>

  <script type="text/javascript" src="/static/js/search.js"></script>
  <script type="text/javascript">
      $( "#searchForm" ).on( "submit", function( event ) {
          performSearch();
          event.preventDefault();
      });

      $('#searchResultContainer').on('scroll', function() {
        if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
            requestSearchSongs(bard.lastSearchQuery, searchResultOffset, page_size);
        }
      });


  </script>
  <link href="/static/css/home.css" rel="stylesheet">
  <link href="/static/css/playlist.css" rel="stylesheet">
